<% if (locals.errors) {%>
<ul class="errors" style="color: red">
  <% errors.forEach(function(error) { %>
  <li><%= error.msg %></li>
  <% }); %>
</ul>
<% } %> <% if (locals.error) {%>
<ul class="errors" style="color: red">
  <li><%= error%></li>
  <% } %>
</ul>
