<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>File Uploader - My Drive</title>
  </head>
  <body>
    <button style="color: black" class="menu-toggle" onclick="toggleSidebar()">
      ☰
    </button>
    <div class="container">
      <%- include('sidebar')%>
      <main class="main">
        <%- include('welcome.ejs')%>
        <h1>Dashboard</h1>
        <div class="cards">
          <div class="card">
            <h2>Total Files</h2>
            <p>42 files uploaded</p>
          </div>
          <div class="card">
            <h2>Total Folders</h2>
            <p>13 folders uploaded</p>
          </div>
          <div class="card">
            <h2>Storage Used</h2>
            <p>1.2 GB of 10 GB</p>
          </div>
        </div>
        <button class="upload-btn">Upload New File</button>
        <button class="upload-btn">Upload New Folder</button>
      </main>
    </div>
    <script>
      function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("hidden");
      }
      function addActiveIndicator(element) {
        const elementDiv = document.querySelector(`.${element}`);
        console.log(elementDiv);
        if (elementDiv) {
          elementDiv.classList.add("active");
        }
      }

      addActiveIndicator("dashboard");
    </script>
  </body>
</html>
