<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (currentUser) { %>
    <h1>Welcome User <%= currentUser.name %></h1>
    <a href="/logout">Log out</a>
    <% } %> <% if (!currentUser) { %>
    <h1>Welcome to file_uploader</h1>
    <a href="/sign-up">
      <p>Sign up to get started</p>
    </a>
    <% } %>
  </body>
</html>
