<aside class="sidebar" id="sidebar">
  <button class="menu-toggle close" onclick="toggleSidebar()">X</button>
  <h2>My Drive</h2>
  <ul>
    <a href="/">
      <li class="active">
        <img src="/images/layout-dashboard.svg" alt="" /> Dashboard
      </li>
    </a>
    <li><img src="/images/folder.svg" alt="" />My Folders</li>
    <a href="/all-files">
      <li><img src="/images/files.svg" alt="" />All Files</li>
    </a>
    <li><img src="/images/upload.svg" alt="" />Upload File</li>
  </ul>
</aside>
